/* --- General styling --- */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
  }
  
  a {
    color: #333;
    text-decoration: none;
  }
  
  a:hover {
    color: #0073e6;
  }
  
  /* --- Styling for the posts grid --- */
  .posts-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 20fr));
    gap: 20px;
    max-width: 1280px;
    margin: 40px auto;
    padding: 0 20px;
  }
  
  .post-card {
    background-color: #ffffff;
    border-radius: 1px;
    overflow: hidden;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
    transition: transform 0s ease, box-shadow 0s ease;
  }
  
  .post-card:hover {
    transform: translateY(0px);
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
  }
  
  .post-card img {
    width: 250;
    height: 100%;
    object-fit: cover;
  }
  
  .post-card h2 {
    font-size: 24px;
    margin: 16px;
    color: #333;
  }
  
  .post-card p {
    font-size: 16px;
    margin: 0 16px 16px;
    color: #666;
  }
  
  /* --- Styling for the header image --- */
  .header-image {
    width: 100%;
    object-fit: cover;
    border-bottom: 0px solid #855600;
    margin-bottom: 5px;
  }

/* --- Tooltip for Post Category --- */
.post-category {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #f03e3e;
  color: #fff;
  padding: 4px 10px;
  font-size: 0.85rem;
  font-weight: bold;
  border-radius: 4px;
  text-transform: uppercase;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10;  /* Чтобы тултип был поверх других элементов */
}

/* Разные категории могут иметь разные цвета */
.post-category.assets {
  background-color: #f03e3e; /* Красный для ассетов */
}

.post-category.tutorials {
  background-color: #4dabf7; /* Голубой для туториалов */
}

.post-category.portfolio {
  background-color: #51cf66; /* Зелёный для портфолио */
}

